@{
    ViewBag.Title = "tsChart";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")
<div class="container">
    <p ><img class="center" src="/TimeSheet/MakeChart"> </p>
</div>

@RenderPage("~/Shared/_Footer.cshtml")
