* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

a.actionlink:link { 
    color: #1FC4FA 
}
a.actionlink:visited { 
    color: #1FC4FA 
}
a.actionlink:hover { 
    color: #122C69 
}
a.tblactionlink:link { 
    color: #1FC4FA 
}
a.tblactionlink:visited { 
    color: #1FC4FA 
}
a.tblactionlink:hover { 
    color: #122C69 
}

p {
    padding-left:10px;
    color: #122C69;  
    font-family: "Lato", sans-serif;
    font-size:16px;
}
.fieldset {
    border: none;
    width: 350px;
    margin:auto;
}
.editor-label, .display-label
{
    float:left;
    width:150px;
    text-align:right;
    font-family:"Lato", sans-serif;
    font-weight:bold;
    font-size: 12px;
    margin:2px;
    color: #6E6E6E;
    vertical-align: middle;
}
.editor-field, .display-field
{
    display:inline-block;
    width: 180px;
    font-family:"Lato", sans-serif;
    font-size: 12px;
    margin:2px;
    vertical-align: middle;
}

.textbox {
    height:16px;
    width: 180px;
    max-width:85%;
    padding:2px;
    font-family:"Lato", sans-serif;
    font-size: 12px;
}

.textfield {
    height:50px;
    width: 180px;
    padding:2px;
    margin:2px;
    font-family:"Lato", sans-serif;
    font-size: 12px;
}

.dropdownlist {
    width: 180px;
    padding:2px;
    margin:2px;
    font-family:"Lato", sans-serif;
    font-size: 12px;
}

.container {
    width:1000px; margin-left:auto; margin-right:auto;
}

.header {
    background: #1FC4FA;
}
.header img {
    float:left;
    height: 100px;
    width: 120px;
    margin-right:15px;
    margin-left:300px;
    margin-top:50px;
    background: #1FC4FA;
}
.header h1{
    color: white;
    line-height: 200px;
    font-family: 'Lato', sans-serif; font-weight: 100; font-size:36px;
}

.navigation {
    background: white;
    font-family: 'Lato', sans-serif;
    text-align:right;
    line-height:40px;
    border-bottom:solid 4px #1FC4FA;
}

.navigation ul {
    list-style:none;
    color: #1FC4FA;
    font-size:20px;
}

.navigation ul li {
    display:inline;
    position: relative; 
    padding:10px;    
}

.navigation ul li a {
    color:  #1FC4FA;
}
.navigation ul li:hover {
    background:#1FC4FA;
    -webkit-transition:0.25s ease-out;
}

.navigation ul li > ul{
    display:none;
	position:absolute;
	top:100%;
	left:0;
    background-color: #CED8F6;
    border: #CED8F6 solid 2px;
    border-radius:0 0 4px 4px;
	padding:0;
    text-align:left;  
    font-size:18px;
    width: 150px;
}

.navigation ul li:hover >a {
    color:#ffffff;
}

.navigation ul li:hover > ul{
	display:block
}

.navigation ul li > ul li{
    display:block;
    padding:4px 6px;
    margin:2px;
    width:86%;
    line-height:normal;
}

.navigation ul li > ul li a{
    color:  #122C69;  
}

.navigation ul li > ul li:hover
{
    border:solid 2px #ffffff;
    border-radius:4px;
    background:#ffffff;
}

.navigation ul li > ul li:hover >a {
    color:#1FC4FA;
}

.footer {
    background: #1FC4FA;
    font-family: 'Lato', sans-serif; font-weight: 100;
    text-align: center;
    line-height: 40px;
    color:white;
}

h2 {
    color: #6E6E6E;
    font-family:"Lato", sans-serif;
    font-size: 16px;
    padding: 20px;
}

h3 {
    color: red;
    font-family:"Lato", sans-serif;
    font-size: 14px;
    padding-left: 20px;
}

.button
{
    text-decoration:none; text-align:center; 
    padding:5px 20px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:16px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#e5ffff; 
    background-color:#3BA4C7; 
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
.button:hover{
    padding:5px 20px;  
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:16px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#e5ffff; 
    background-color:#3BA4C7; 
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
    opacity:0.7; 
    filter: alpha(opacity=70); 
}
.button:active{
    padding:5px 20px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:16px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#1FC4FA; 
    background-color:#3BA4C7; 
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;    
}

.filtered{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}


/* tables */
table {
    table-layout:fixed;
    margin-left:auto; 
    margin-right:auto; 
    margin-top:auto;
    margin-bottom:auto;
    text-align: center;
    border-bottom: solid 2px #1FC4FA;
}

table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table thead tr .headerSortDown {
	background-image: url(desc.gif);
}

th {
   background: #1FC4FA;
   color:white;
   font-family:"Lato", sans-serif;
   font-size:16px;
   height:40px;
}

tr {
   font-family:"Lato", sans-serif;
   font-size:14px;
   height:30px;
   color:#6E6E6E;    
}

tr.odd  {
    background-color: #CED8F6;
}

.home table {
    width: 600px;
}

.employee table {
    width: 800px;
}

.timesheet table {
    word-wrap: break-word;
    width: 950px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

