* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a.actionlink:link { 
    color: #1FC4FA 
}
a.actionlink:visited { 
    color: #1FC4FA 
}
a.actionlink:hover { 
    color: #122C69 
}
a.tblactionlink:link { 
    color: #1FC4FA 
}
a.tblactionlink:visited { 
    color: #1FC4FA 
}
a.tblactionlink:hover { 
    color: #122C69 
}

p {
    padding-left:10px;
    color: #122C69;  
    font-family: "Lato", sans-serif;
    font-size:20px;
}
.fieldset {
    border: none;
    width: 500px;
    margin:auto;
}
.editor-label, .display-label
{
    float:left;
    width:200px;
    text-align:right;
    font-family:"Lato", sans-serif;
    font-weight:bold;
    font-size: 16px;
    margin:5px;
    color: #6E6E6E;
    vertical-align: middle;
}
.editor-field, .display-field
{
    display:inline-block;
    width: 250px;
    font-family:"Lato", sans-serif;
    font-size: 16px;
    margin:5px;
    vertical-align: middle;
}

.textbox {
    height:20px;
    width: 250px;
    max-width:85%;
    padding:5px;
    font-family:"Lato", sans-serif;
    font-size: 16px;
}

.textfield {
    height:100px;
    width: 250px;
    padding:5px;
    margin:5px;
    font-family:"Lato", sans-serif;
    font-size: 16px;
}

.dropdownlist {
    width: 250px;
    padding:5px;
    margin:5px;
    font-family:"Lato", sans-serif;
    font-size: 16px;
}

.container {
    width:1000px; margin-left:auto; margin-right:auto;
}

.header {
    background: #1FC4FA;
}
.header img {
    float:left;
    height: 100px;
    width: 120px;
    margin-right:15px;
    margin-left:300px;
    margin-top:50px;
    background: #1FC4FA;
}
.header h1{
    color: white;
    line-height: 200px;
    font-family: 'Lato', sans-serif; font-weight: 100; font-size:36px;
}

.navigation {
    background: white;
    font-family: 'Lato', sans-serif;
    line-height: 50px;
    text-align:right;
    padding-right:15px;
    border-bottom:solid 4px #1FC4FA;
}
.navigation ul {
    list-style:none;
    color: #1FC4FA;
    font-size:20px;
}
.navigation li {
    display:inline;
    padding-right: 5px;
    color: #1FC4FA;
    text-decoration: none;
}

.footer {
    background: #1FC4FA;
    font-family: 'Lato', sans-serif; font-weight: 100;
    text-align: center;
    line-height: 50px;
    color:white;
}





h2 {
    color: #6E6E6E;
    font-family:"Lato", sans-serif;
    font-size: 20px;
    padding: 20px;
}

h3 {
    color: red;
    font-family:"Lato", sans-serif;
    font-size: 18px;
    padding-left: 20px;
}

.button
{
    text-decoration:none; text-align:center; 
    padding:11px 32px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#e5ffff; 
    background-color:#3BA4C7; 
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
.button:hover{
    padding:11px 32px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#e5ffff; 
    background-color:#3BA4C7; 
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
    opacity:0.7; 
    filter: alpha(opacity=70); 
}
.button:active{
    padding:11px 32px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#f21f38; 
    background-color:#3BA4C7; 
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
}

.filtered{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}


/* tables */
table {
    table-layout:fixed;
    margin-left:auto; 
    margin-right:auto; 
    margin-top:auto;
    margin-bottom:auto;
    text-align: center;
    border-bottom: solid 2px #1FC4FA;
}

table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table thead tr .headerSortDown {
	background-image: url(desc.gif);
}

th {
   background: #1FC4FA;
   color:white;
   font-family:"Lato", sans-serif;
   font-size:20px;
   height:50px;
}

tr {
   font-family:"Lato", sans-serif;
   font-size:20px;
   height:40px;
   color:#6E6E6E;    
}

tr.odd  {
    background-color: #CED8F6;
}

.home table {
    width: 600px;
}

.employee table {
    width: 800px;
}

.employee tr {
   font-size:18px;
}

.timesheet table {
    word-wrap: break-word;
    width: 950px;
}
.timesheet th {
   font-size:18px;
}

.timesheet tr {
   font-size:16px;
}

